.about {
  background-color: black;  
  padding: 50px;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.column-right-abt h1 {
  font-size: 4rem;
  font-family: "Open-Sans", sans-serif;
}

.column-right-abt {
  font-size: 1.5rem;
  color: white;
  flex: 1;
  text-align: justify;
  padding-left: 5%;
  font-family: "OpenSans", sans-serif;
}

.column-left-abt {
  color: white;
  flex: 1;
  text-align: center; 
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.column-left-abt img {
  max-width: 100%; 
  height: auto;
  border-radius: 10px; 
}

.skills-list{
  display: grid;
  grid-template-columns: repeat(2,minmax(150px,10px));
  column-gap: 30px;
}

@media only screen and (max-width: 600px) {
  .about {
      flex-direction: column;
      padding: 50px;
  }

  .column-right-abt, .column-left-abt {
      width: 100%; 
      padding: 10px 0;
      text-align: justify; 
  }

  .column-right-abt {
      font-size: 1.5rem;
  }
  
  .column-right-abt h1{
    font-size: 2rem;
    text-align: left;
  }

  .column-right-abt p {
      font-size: 1.2rem;
      line-height: 1.6;
      text-align: justify;
  }

  .column-left-abt img {
      display: none;
  }
}
