.intro {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 280px; 
  min-height: 100vh;
  gap: 30px;
}

.column-left, .column-right {
  color: white;
  flex: 1;
  padding: 10px;
}

.column-left {
  text-align: right;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

  .column-left.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .column-left h1 {
    font-size: 7.7rem;
    margin: 0;
    padding-right: 10px 0;
    font-family: "Montserrat", sans-serif;
  }

.column-left-h2 {
  font-size: 2rem;
  opacity: 0;
  padding-right: 5px;
  font-family: "Open-Sans", sans-serif;
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  transform: translateY(40px);
}
  .fade-in-sub {
    opacity: 1; 
    transform: translateY(-5px);
  }

.column-right {
  text-align: justify;
  padding-right: 100px;
  padding-top: 40px;
}

  .intro-hi {
    font-size: 4rem;
    opacity: 0;
    transform: translateX(0px);
  }

  .fade-in-left {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease-in-out;
  }
  
.typing-container {
  overflow: visible;
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {
  .intro {
    flex-direction: column;
    padding-top: 100px;
  }

  .column-left, .column-right {
    text-align: center;
  }

  .column-left h1 {
    font-size: 4rem;
  }

  .column-right {
    font-size: 1.5rem;
    padding-right: 0;
  }

  .column-right p {
    font-size: 1.2rem;
  }
}
