.navbar {
  background-color: black;
  font-family: 'OpenSans', sans-serif;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 15px;
  transition: color 0.2s ease;
}

.nav-link:focus, .nav-link.active {
  color: #ffffff !important; 
  background-color: transparent !important; 
  outline: none !important; 
}

.nav-link:hover {
  color: burlywood !important;
}

.MuiSvgIcon-root .MuiSvgIcon-root:hover {
  color: burlywood !important;
}

/* Hide navigation links and brand on mobile */
@media only screen and (max-width: 600px) {
  .navbar-brand,
  .me-auto {
    display: none;
  }

  .navbar .ml-auto {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
}

/* Show navigation links on desktop */
@media only screen and (min-width: 601px) {
  .me-auto {
    display: flex !important;
  }
}
