@font-face {
  font-family: 'OpenSans-Regular'; /* Use a name for the font */
  src: url('/public/fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust the URL as needed */
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: black;
  font-family: 'OpenSans-Regular', sans-serif; /* Include fallback fonts */
  font-weight: bold; /* Normal weight */
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important; 
}

.nav-link {
  color: #ffffff;
  font-size: 15px;
  margin-left: 15px ;
  transition: color 0.5s ease;
}

.nav-link:focus, .nav-link.active {
  color: #ffffff !important; 
  background-color: transparent !important; 
  outline: none !important; 
}

.nav-link:hover {
  color: burlywood !important;
}

.MuiSvgIcon-root .MuiSvgIcon-root:hover {
  color: #ffffff !important;
  color: burlywood !important;
}

@media (max-width: 600px){
  
  .custom-toggler {
    border-color: white; /* Change border color of the button */
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  
}