@font-face {
  font-family: 'OpenSans-Regular'; /* Use a name for the font */
  src: url('/public/fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust the URL as needed */
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: black;
  font-family: 'OpenSans-Regular', sans-serif; /* Include fallback fonts */
  font-weight: bold; /* Normal weight */
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important; 
}

.nav-link {
  color: #ffffff;
  font-size: 15px;
  margin-left: 15px ;
  transition: color 0.5s ease;
}

.nav-link:focus, .nav-link.active {
  color: #ffffff !important; 
  background-color: transparent !important; 
  outline: none !important; 
}

.nav-link:hover {
  color: burlywood !important;
}

.MuiSvgIcon-root .MuiSvgIcon-root:hover {
  color: #ffffff !important;
  color: burlywood !important;
}