.projects {
  background-color: transparent;  
  padding: 20px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-projects h1 {
  font-size: 4rem;
  color: white;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  margin-left: 80px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
  width: 100%;
  margin-top: 0;
  padding-top: 50px;
  padding-left: 250px; 
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.line {
  border: none;
  border-top: 2px solid white;
  width: 100%;
  margin-bottom: 10px;
}

.item {
  font-size: 2rem;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-bottom: 10px;
}

.p-projects{
  font-size: 20px;
  font-family: "Open-Sans", sans-serif;
  color: white;
  text-align: justify;
  padding-right: 50px;
}

.icons-container{
  display: flex;
  text-align: left;
  gap: 10px;
}

.MuiSvgIcon-root-pr {
  color: white;
  font-size: 35px;
  cursor: pointer; 
}

.MuiSvgIcon-root-pr:hover {
  color: burlywood !important;
}


@media only screen and (max-width: 600px) {

  .projects{
    padding: 20px;
  }

  .title-projects h1 {
    font-size: 2.5rem; 
    margin-left: 20px;
  }

  .flex-container {
    grid-template-columns: 1fr;
    padding-left: 20px; 
    padding-top: 20px;  
  }

  .item {
    font-size: 1.5rem; 
    padding-bottom: 5px; 
  }

  .p-projects {
    font-size: 16px; 
    padding-right: 20px; 
  }

  .MuiSvgIcon-root {
    font-size: 25px;
  }
}
