.projects {
  background-color: black;  
  padding: 50px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-projects h1 {
  font-size: 4rem;
  color: white;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  margin-left: 80px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
  width: 100%;
  margin-top: 0;
  padding-top: 100px;
  padding-left: 80px; 
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.line {
  border: none;
  border-top: 2px solid white;
  width: 100%;
  margin-bottom: 10px;
}

.item {
  font-size: 2rem;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-bottom: 10px;
}

.p-projects{
  font-size: 20px;
  font-family: "Open-Sans", sans-serif;
  color: white;
  text-align: justify;
  padding-right: 50px;
}

.icons-container{
  display: flex;
  text-align: left;
  gap: 10px;
}

.MuiSvgIcon-root {
  color: white;
  font-size: 35px;
  transition: color 0.2s ease;
  cursor: pointer; 
}

.MuiSvgIcon-root:hover {
  color: burlywood !important;
}

/* Media Query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .title-projects h1 {
    font-size: 2.5rem; /* Adjust title font size for smaller screens */
    margin-left: 20px; /* Adjust left margin */
  }

  .flex-container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    padding-left: 20px; /* Reduce padding */
    padding-top: 50px;  /* Reduce top padding */
  }

  .item {
    font-size: 1.5rem; /* Adjust item font size */
    padding-bottom: 5px; /* Reduce padding below item title */
  }

  .p-projects {
    font-size: 16px; /* Adjust paragraph font size */
    padding-right: 20px; /* Reduce padding for better fit */
  }

  .MuiSvgIcon-root {
    font-size: 25px; /* Reduce icon size */
  }
}
