html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: black;
}
  

.fade-up {
  opacity: 0;
  transform: translateY(8vh);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.fade-up.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.1;
  transform: rotateY(180deg);
}

.content {
  position: relative;
  z-index: 1;
}


@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
